workflow-studio/state-machines/initial-step-function.yaml
{
    "StartAt": "Check Stock Price",
    "States": {
        "Check Stock Price": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-1:<your-aws-account>:function:StepFunctionsSample-HelloLam-CheckStockPriceLambda-4rX9kuEoiXcq",
            "Next": "Generate Buy/Sell recommendation"
        },
        "Generate Buy/Sell recommendation": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-1:<your-aws-account>:function:StepFunctionsSample-Hello-GenerateBuySellRecommend-GsJgE7VBgZgI",
            "ResultPath": "$.recommended_type",
            "Next": "Request Human Approval"
        },
        "Request Human Approval": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "Parameters": {
                "QueueUrl": "https://sqs.eu-west-1.amazonaws.com/<your-aws-account>/StepFunctionsSample-HelloLambda5dddd33d-19-RequestHumanApprovalSqs-1HH65A3B1CQDS",
                "MessageBody": {
                    "Input.$": "$",
                    "TaskToken.$": "$$.Task.Token"
                }
            },
            "ResultPath": null,
            "Next": "Buy or Sell?"
        },
        "Buy or Sell?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "buy",
                    "Next": "Buy Stock"
                },
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "sell",
                    "Next": "Sell Stock"
                }
            ]
        },
        "Buy Stock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-1:<your-aws-account>:function:StepFunctionsSample-HelloLambda5ddd-BuyStockLambda-0y5zy7TjxGih",
            "Next": "Report Result"
        },
        "Sell Stock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-1:<your-aws-account>:function:StepFunctionsSample-HelloLambda5dd-SellStockLambda-NsiM1lehCBrL",
            "Next": "Report Result"
        },
        "Report Result": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "arn:aws:sns:eu-west-1:<your-aws-account>:StepFunctionsSample-HelloLambda5dddd33d-1942-4814-afd8-20b51783dd91-ReportResultSnsTopic-1CY3XMY27NDX7",
                "Message": {
                    "Input.$": "$"
                }
            },
            "End": true
        }
    }
}
